
.btn{
   color: aliceblue;
   background-color: black;
   margin-left: 100px;
}
.header{
   display: flex;
       align-items: center;
       justify-content: space-evenly;
       margin-left: 30px;
}

.h1{
  color: black;
}

.greyp{
   color: grey;
}

.div{
   margin-left: 500px;
   margin-top: 50px;
   border: 3px solid black;
   gap: 24px; 
   width: 350px;
   }

   .sdfggggg{
      width:  900px;
height:  900px;
margin-left: 250px;
border-radius: 8px;
border-width: 1px;
padding: 10px;
gap: 10px;
}

   .img4{
  width: 25px;
  height: 25px;
}

.pages{
   color: grey;
}

.footer{
   width: 1500px;
   height: 500px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.footerBox{
   display: flex;
   justify-content: space-around;
}

.klllllll{
   display: flex;
   width: 400px;
   height: 300px;
   background-color: aliceblue;
}

.ghjkl{
   display: flex;
   gap: 20px;
   justify-content: center;
}

.avatar{
   width: 50px;
   height: 50px;
   margin-top: 10px;
}

.weyuiop{
   display: flex; 
   justify-content: center;
   gap: 240px;  
}
.ggg{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   width: 350px;
   height: 200px;
}

.dflx{
   display: flex;
   gap: 20px;
}